<div class="body-container">
  <div class="container">
    <div class="logo-box app-flex-center">
      <img
        class="logo-img"
        src="../assets/sky-media.a9f36ca400cc93bdae30.jpeg"
        alt="Sky Media"
      />
    </div>
    <h3 class="title is-3">Tại sao nên gia nhập Sky Media khi Live Tiktok</h3>
    <p class="sub-heading">
      Những lợi ích vượt trội khi trở thành Idol Tiktok Live của Spy Media
    </p>
    <div class="button-box app-flex-center">
      <button class="tien-thuong-hap-dan app-header-btn">
        TIỀN THƯỞNG HẤP DẪN</button
      ><button class="ho-tro-phat-trien-kenh app-header-btn">
        HỖ TRỢ PHÁT TRIỂN KÊNH
      </button>
    </div>
    <div class="big-button-box app-flex-column-center">
      <button class="app-big-btn app-btn">
        HƯỚNG DẪN NẠP TIỀN VÀ RÚT TIỀN TRÊN TIKTOK
      </button>
      <button class="app-big-btn app-btn">
        CÁC HOẠT ĐỘNG SỰ KIỆN IDOL - TEAM IDOL VIỆT
      </button>
    </div>
    <div class="ban-muon-tro-thanh-idol">
      <img
        src="https://com836233636.files.wordpress.com/2021/12/dang-ky-tai-day-1.png?w=820"
        alt="Bạn muốn trở thành Idol Tiktok"
      />
    </div>
    <h3 class="subtitle is-3">Hướng dẫn đăng ký trở thành Idol Tiktok Live</h3>
    <ul class="ul">
      <li>VỚI TÀI KHOẢN ĐÃ CÓ NÚT LIVE/ TRUNG TÂM LIVE/ TRUNG TÂM ĐẠI LÝ</li>
    </ul>
    <div class="step-box">
      <p class="step-heading">Bước 1: Bật lời mời đại lý theo hướng dẫn sau:</p>
      <p class="step-description">
        Vào Cài đặt quyền riêng tư &rarr; Bấm vào Công cụ dành cho tác giả
        &rarr; Bấm vào Trung Tâm Live &rarr; Bấm vào Trung Tâm Đại Lý &rarr; Lời
        mời đại lý &rarr; Gạt xanh bật lên.
      </p>
      <p class="step-description">
        Sau khi hoàn thành thao tác trên hãy thông báo cho quản lý Idol Việt
        ngay lập tức nhé!!!
      </p>
      <img
        src="https://com836233636.files.wordpress.com/2021/12/4-buoc.png?w=1024"
        alt="Sky media"
        class="step-img"
      />
    </div>
    <div class="step-box">
      <p class="step-heading">Bước 2: Xác nhận hợp đồng Đại Lý</p>
      <p class="step-description">
        Vào mục Hộp thư→ Xem mục Thông Báo Hệ Thống→ Nhấp vào màn hình có nội
        dung “You’ve invited to join an agency on LIVE Backstage…” &rarr; Xác
        nhận nội dung và bấm vào “Chấp nhận” &rarr; Xác nhận độ tuổi và hoàn
        thành xác nhận hợp đồng với Đại lý Trên TikTok.
      </p>
      <img
        class="step-img"
        src="https://com836233636.files.wordpress.com/2021/12/z2707540656413_2c1b4b62b56bee29ac4d033b6d8e5ef7.jpg?w=1024"
        alt="Sky media"
      />
      <p class="step-description">
        Việc hoàn thành thao tác trên đồng nghĩa với việc bạn đã trở thành Idol
        TikTok Live chính thức của Idol Việt rồi nè. Tiếp theo đó hãy tự tin
        chăm chỉ live, đội ngũ quản lý Idol Việt sẽ hỗ trợ các bạn trong suốt
        quá trình để phát triển kênh của bạn nhé.
      </p>
    </div>
    <div class="notice-box">
      <p class="notice-heading">
        NHỮNG ĐIỀU CẦN LƯU Ý KHI LIVESTREAM TRÊN TIKTOK, NẾU KHÔNG SẼ BỊ KHOÁ
        TÀI KHOẢN
      </p>
      <p class="notice-description">
        TikTok là một nền tảng xanh, sạch, hướng tới 1 cộng đồng tốt đẹp nên khi
        livestream hay làm clip ngắn các bạn hãy cố gắng làm những
        <strong>
          nội dung truyền tải thông điệp tốt đẹp, tích cực về cuộc sống, có ích
          cho cộng đồng và xã hội và tránh vi phạm những lỗi thường gặp dưới
          đây.
        </strong>
      </p>
      <p class="notice-description">
        Những lỗi thường gặp khi livestream và khi làm clip ngắn:
      </p>
      <p class="notice-description">
        1. Không cầm súng, vũ khí sắc nhọn…các vật dụng gây sát thương lên
        livestream/trong clip ngắn. &rarr; Vi phạm sẽ bị Khoá 7 ngày -10 ngày;
      </p>
      <p class="notice-description">
        2. Không cung cấp bất kỳ thông tin cá nhân trên mạng xã hội: CMND, số
        điện thoại, email, nơi ở của cá nhân hay người khác &rarr; Vi phạm sẽ bị
        Khoá 7-10 ngày;
      </p>
      <p class="notice-description">
        3. Không nói xấu, lăng mạ, chửi rủa, khiêu khích, gây hấn… người khác
        trên livestream, trong clip ngắn…(thuộc lỗi gây rối, quấy rầy người
        khác) &rarr; Vi phạm sẽ bị khoá 7-10 ngày hoặc vĩnh viễn tuỳ mức độ
        nghiêm trọng.
      </p>
      <p class="notice-description">
        4. Không nói tục chửi bậy, chửi fan, kêu gọi báo cáo người dùng… &rarr;
        Vi phạm sẽ bị khoá 7-10 ngày hoặc vĩnh viễn tuỳ mức độ;
      </p>
      <p class="notice-description">
        5. Không có các hành vi khiếm nhã: vỗ mông, sờ ngực, các hành vi mô tả
        hoặc ngôn ngữ ám chỉ quan hệ tình dục hoặc khiêu gợi… &rarr;
        <strong> Vi phạm sẽ bị khoá 10 ngày hoặc vĩnh viễn tuỳ mức độ; </strong>
      </p>
      <p class="notice-description">
        6. Không làm các hành vi nguy hiểm, tự tàn như: trèo tường, hoặc quay
        vào vết thương, máu me, giả vờ hoặc xúi giục tự tử, các hình thức tiêu
        cực khích động số đông hành động và suy nghĩ tiêu cực theo … &rarr;
        <strong> Vi phạm sẽ bị khoá 7-10 ngày hoặc vĩnh viễn </strong>
        tuỳ mức độ;
      </p>
    </div>
  </div>
</div>
